<% content_for :javascript do %>
  <%= render 'administrate_ransack/components/javascript_content' %>
<% end %>

<%
  attribute_labels ||= {}
  attribute_types ||= @dashboard.attribute_types.select { |key, _value| @dashboard.collection_attributes.include?(key) }
  form_options = { html: { 'data-administrate-ransack-filters': '1' } }
  if local_assigns.has_key?(:search_path)
    form_path = @ransack_results
    form_options[:url] = search_path
    clear_filters_path = search_path
  else
    form_path = [:admin, @ransack_results]
    clear_filters_path = url_for(url_for([:admin, @ransack_results.klass]))
  end
%>

<%= search_form_for form_path, form_options do |f| %>
  <div class="compact-filters">
    <% attribute_types.each do |field, type| %>
      <% next if field == :id %>

      <% label = attribute_labels.include?(field) ? attribute_labels[field] : field %>
      <% model = @ransack_results.klass %>
      <% input_type = type.is_a?(Administrate::Field::Deferred) ? type.deferred_class.to_s : type.to_s %>
      <div class="compact-filter <%= input_type.parameterize %>">
        ...
      </div>
    <% end %>

    <div class="compact-filters-buttons">
      <%= f.submit t('administrate_ransack.filters.search'), name: nil %>
      <%= link_to t('administrate_ransack.filters.clear_filters'), clear_filters_path, class: 'btn-clear-filters' %>
    </div>
  </div>
<% end %>
