<% content_for :javascript do %>
  <script>
    document.addEventListener('DOMContentLoaded', (_event) => {
      if(typeof window.flatpickr === 'function') {
        var options = window.flatpickr_filters_options;
        if(typeof options !== 'object') options = { enableTime: true };
        window.flatpickr('.filter [type="datetime-local"]', options);
      }
    });
  </script>
<% end %>

<%
  attribute_labels ||= {}
  attribute_types ||= @dashboard.attribute_types.select { |key, _value| @dashboard.collection_attributes.include?(key) }
  form_options = { html: { 'data-administrate-ransack-filters': '1' } }
  namespace = local_assigns[:namespace] || :admin
  if local_assigns.has_key?(:search_path)
    form_path = @ransack_results
    form_options[:url] = search_path
    clear_filters_path = search_path
  else
    form_path = [namespace, @ransack_results]
    clear_filters_path = url_for(url_for([namespace, @ransack_results.klass]))
  end
%>

<%= search_form_for form_path, form_options do |f| %>
  <div class="filters">
    <% attribute_types.each do |field, type| %>
      <% next if field == :id %>

      <% label = attribute_labels.include?(field) ? attribute_labels[field] : field %>
      <% model = @ransack_results.klass %>
      <% input_type = type.is_a?(Administrate::Field::Deferred) ? type.deferred_class.to_s : type.to_s %>
      <div class="filter filter-<%= field.to_s.parameterize %> <%= input_type.parameterize %>">
        <% case input_type %>
        <% when 'Administrate::Field::BelongsTo' %>
          <% association = model.reflections[field.to_s] %>
          <%= render 'administrate_ransack/components/field_belongs_to', form: f, model: model, field: field, label: label, association: association %>
        <% when 'Administrate::Field::Boolean' %>
          <%= render 'administrate_ransack/components/field_boolean', form: f, model: model, field: field, label: label %>
        <% when 'Administrate::Field::Date' %>
          <%= render 'administrate_ransack/components/field_date', form: f, model: model, field: field, label: label %>
        <% when 'Administrate::Field::DateTime' %>
          <%= render 'administrate_ransack/components/field_datetime', form: f, model: model, field: field, label: label %>
        <% when 'Administrate::Field::Email', 'Administrate::Field::String', 'Administrate::Field::Text' %>
          <%= render 'administrate_ransack/components/field_string', form: f, model: model, field: field, label: label %>
        <% when 'Administrate::Field::Number' %>
          <%= render 'administrate_ransack/components/field_number', form: f, model: model, field: field, label: label %>
        <% when 'Administrate::Field::HasMany' %>
          <% association = model.reflections[field.to_s] %>
          <%= render 'administrate_ransack/components/field_has_many', form: f, model: model, field: field, label: label, association: association %>
        <% when 'Administrate::Field::Select' %>
          <%= render 'administrate_ransack/components/field_select', form: f, model: model, field: field, label: label, type: type %>
        <% else %>
          <%= render 'administrate_ransack/components/field_other', form: f, model: model, field: field, label: label, type: type %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'administrate_ransack/components/filter_buttons', form: f, clear_filters_path: clear_filters_path %>
<% end %>
