<% association = model.reflections[field.to_s] %>
<% if association %>
  <% field_key = AdministrateRansack.ransack?(model, {field => "1,2"}) ? field : "#{field}_id_in" %>
  <% resource_field = type.new(field, nil, Administrate::Page::Collection.new(@dashboard), resource: model.new) %>
  <% collection = resource_field.associated_resource_options %>

  <%= form.label(label || field_key, class: 'filter-label') %>
  <% if options&.include? 'select' %>
    <%= form.select(field_key, collection, {}, multiple: true) %>
  <% else %>
    <%= form.collection_check_boxes(field_key, collection, :second, :first) do |b| %>
      <%= b.label do %>
        <%= b.check_box %>
        <span><%= b.text %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
