<% association = model.reflections[field.to_s] %>
<% if association %>
  <div class="filter filter-<%= field.to_s.parameterize %> <%= type %>">
    <%# field_key = model.ransackable_scopes.include?(field) ? field : "#{field}_id_in" %>
    <% desc = association.klass.method_defined?(:admin_label) ? :admin_label : :to_s %>
    <% collection = association.klass.send(association.klass.respond_to?(:admin_scope) ? :admin_scope : :all) %>

    <%= form.label(options[:label], class: 'filter-label') %>
    <% if options[:select] %>
      <%= form.select(options[:param], nil, {}, multiple: true) do %>
        <%= options_from_collection_for_select(collection, :id, desc) %>
      <% end %>
    <% else %>
      <%= form.collection_check_boxes(options[:param], collection, :id, desc) do |b| %>
        <%= b.label do %>
          <%= b.check_box %>
          <span><%= b.object.send(desc) %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
