<div class="filter filter-<%= field.to_s.parameterize %> <%= type %>">
  <%= form.label(options[:label], class: 'filter-label') %>
  <% if options[:range] %>
    <%= form.datetime_field("#{field}_gteq") %>
    <%= form.datetime_field("#{field}_lteq") %>
  <% else %>
    <%= form.datetime_field(options[:param], value: form.object.send(field)) %>
  <% end %>
</div>
